.menu-container{
    width:100% ;
    padding : 0 50px 0 15px;
}
.div-table{
    display:table;
    width:auto;
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:5px;/*cellspacing:poor IE support for  this*/
}
.div-table-row{
    display:table-row;
    width:auto;
    clear:both;
}
.div-table-col{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:200px;
    background-color:#ccc;
}
.form-table{
    width: 100%;
    padding: 10px;
    text-align: center;
}
.form-table td{
    padding: 2px;
}
.form-table td input{
    width: 200px;
}
.form-table td label{
    padding-top: 10px;
}
.form-table td input[type=button]{
    /*width: 100px;*/
    float: left;
    height: 40px;
}

div.alert-danger{
    max-height: 140px !important;
    overflow-y: auto;
}

a{
    cursor: pointer;
}