*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
header{
    background-color: #C36464;
    min-height: 100px;
}
header .notification-top{
    background-color: #080808;
    color: #ffffff;
    text-align: center;
    height: auto;
    padding: 10px;
    cursor: pointer;
    width: 60%;
    left: 20%;
    position: absolute;
    visibility: hidden;
}
header .logo{
    background-color: #080808;
    height: 50px;
    width: 100%;
    float: left;
}
header .user-profile{
    float: right;
    padding: 15px;
    color: #fff;
}
header .user-profile a{
    color: #000;
}
header .user-profile span{
    color: #F0677C;
    cursor: pointer;
}
header .user-profile .span-link{
    color: #fff;
}
nav{
    min-height: 30px;
    background-color: #080808;
}
nav .nav-container{

}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    background-color: #080808;
    color: #fff;
}
footer .footer-container{
    padding: 10px;
    text-align: center;
}
footer .footer-container span{
    /*float: right;*/
}
#loading-screen{
    background-color: #00aced;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    display: none;
}
